* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font: Arial, Verdana, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

/* Fonts */

@font-face {
  src: url(fonts/Gilroy-Bold.ttf);
  font-family: Gilroy-Bold;
}

@font-face {
  src: url(fonts/Gilroy-Medium.ttf);
  font-family: Gilroy-Med;
}
